@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--color-primary: #7c5dfa;
	--color-primary-light: #9277ff;

	--body-bg-color: #f8f8fb;
	--sidebar-bg-color: #373b53;
	--modal-body-bg-color: #ffffff;

	--heading-color: #0c0e16;
	--heading-color-2: #777f98;
	--text-color: #888eb0;
	--text-color-2: #7e88c3;
	--text-color-3: #858bb2;

	--box-shadow-1: 0 1rem 1rem -1rem rgba(72, 84, 159, 0.1);

	--input-bg-color: #fff;
	--input-border-color: #dfe3fa;
	--input-border-color-active: #9277ff;

	--btn-3-text: #7e88c3;
	--btn-3-bg: #f9fafe;
	--btn-3-bg-hover: #dfe3fa;
	--btn-4-text: #888eb0;
	--btn-4-bg: #373b53;
	--btn-4-bg-hover: #0c0e16;
	--btn-5-text: #fff;
	--btn-5-bg: #ec5757;
	--btn-5-bg-hover: #ff9797;
	--btn-6-text: #7e88c3;
	--btn-6-bg: #f9fafe;
	--btn-6-bg-hover: #dfe3fa;
}

.dark-theme {
	--body-bg-color: #141625;
	--sidebar-bg-color: #1e2139;
	--modal-body-bg-color: #11121a;

	--heading-color: #ffffff;
	--text-color: #dfe3fa;
	--text-color-2: #dfe3fa;
	--text-color-3: #ffffff;

	--input-bg-color: #1e2139;
	--input-border-color: #252945;
	--input-border-color-active: #252945;

	--btn-3-text: #dfe3fa;
	--btn-3-bg: #252945;
	--btn-3-bg-hover: #ffffff;
	--btn-4-text: #dfe3fa;
	--btn-4-bg: #373b53;
	--btn-4-bg-hover: #1e2139;

	--btn-6-text: #dfe3fa;
	--btn-6-bg: #252945;
	--btn-6-bg-hover: #1e2139;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Spartan', sans-serif;
	min-height: 100vh;
	background: var(--body-bg-color);
}

h1 {
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 3.6rem;
	letter-spacing: -1px;
}

h2 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.2rem;
	letter-spacing: -0.63px;
}

h3 {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: -0.8px;
}

h4 {
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.5rem;
	letter-spacing: -0.25px;
}

.body-1 {
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.5rem;
	letter-spacing: -0.25px;
}

.body-2 {
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 1.8rem;
	letter-spacing: -0.23px;
}
